- @week.each do |date|
  %div{class: "day #{date.day_classy}"}
    .title
      .day_name
        = date.day_of_week
      .date{date: "#{date.date}"}
        = date.day_month
    .tasks{style: "min-height:50px"}
      - @week_tasks.where(due_date: date.beginning_of_day..date.end_of_day).each do |task|
        - task = task.decorate
        = render partial: 'task', locals: {task: task}
.tasks
  - @month_tasks.each do |task|
    = render partial: 'task', locals: {task: task}

:javascript
  $(function() {
    $( ".tasks" ).sortable({
      connectWith: ".tasks",
      stop : function (e) {
        function save_task(task, day) {
          var id = task.getAttribute('id')
          var date = $(day).find('.date')[0].getAttribute('date')
          $.ajax({
            url: "/tasks/"+id,
            type: 'PUT',
            data: {
              date: date
            },
            success: function(data) {
              // alert('saved');
            }
          });
        }
        debugger
        save_task($(e.toElement).closest('.task')[0], $(e.toElement).closest('.day'))
      }
    }).disableSelection();
  });