- @week.each do |date|
  %div{class: "day #{date.day_classy}"}
    .title
      .day_name
        = date.day_of_week
      .date{date: "#{date.date}"}
        = date.day_month
    .tasks{style: "min-height:50px"}
      - @week_tasks.where(due_date: date.beginning_of_day..date.end_of_day).each do |task|
        - task = task.decorate
        = render partial: 'task', locals: {task: task}
.tasks
  - @month_tasks.each do |task|
    = render partial: 'task', locals: {task: task}