- @week.each do |date|
  %div{class: "day #{date.day_classy}"}
    .title
      .day_name
        = date.day_of_week
      .date{date: "#{date.date}"}
        = date.day_month
    .tasks{style: "min-height:50px"}
      - @week_todos.where(due_date: date.beginning_of_day..date.end_of_day).each do |todo|
        - todo = todo.decorate
        = render partial: 'todo', locals: {todo: todo}
.tasks
  - @month_todos.each do |todo|
    = render partial: 'todo', locals: {todo: todo}

:javascript
  $(function() {
    $( ".tasks" ).sortable({
      connectWith: ".tasks",
      stop : function (e) {
        function save_todo(todo, day) {
          var id = todo.getAttribute('id')
          var date = $(day).find('.date')[0].getAttribute('date')
          $.ajax({
            url: "/todos/"+id,
            type: 'PUT',
            data: {
              date: date
            },
            success: function(data) {
              // alert('saved');
            }
          });
        }
        debugger
        save_todo($(e.toElement).closest('.todo')[0], $(e.toElement).closest('.day'))
      }
    }).disableSelection();
  });