- @week.each do |date|
  %div{class: "#{date.day_classy}"}
    .title
      .day_name
        = date.day_of_week
      .date
        = date.day_month
    .tasks{style: "height:50px"}
      - @week_todos.where(due_date: date.beginning_of_day..date.end_of_day).each do |todo|
        - todo = todo.decorate
        %div{class: "todo #{todo.category_classy}"}
          .title
            = todo.title
%table
  %tr
    %th
      Title
    %th
      Due date
    %th
      Category
  - @month_todos.each do |todo|
    %tr
      %td
        =todo.title
      %td
        =todo.due_date
      %td
        =todo.categories