<%= simple_form_for(@goal) do |f| %>
  <% if @goal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@goal.errors.count, "error") %> prohibited this goal from being saved:</h2>

      <ul>
      <% @goal.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.input :title %>
  </div>

  <%= f.association :categories, collection: Category.all, as: :check_boxes %>

  <div class="field">
    <%= f.input :due_date, as: :date, start_year: Date.today.year, end_year: Date.today.year + 50, include_blank: true %>
  </div>
  <div class="field">
    <%= f.select_recurring :schedule_yaml %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


