<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @goal.title %>
</p>

<p>
  <strong>Due date:</strong>
  <%= @goal.pretty_due_date %>
</p>

<p>
  <strong>Category:</strong>
  <%= @goal.pretty_categories %>
</p>

<p>
  <strong>Schedule:</strong>
  <%= @goal.schedule.to_s %>
</p>

<p>
  <strong>Next due:</strong>
  <%= @goal.next_due.to_s %>
</p>

<%= link_to 'Edit', edit_goal_path(@goal) %> |
<%= link_to 'Back', goals_path %>
