<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @goal.title %>
</p>

<p>
  <strong>Done:</strong>
  <%= @goal.done %>
</p>

<p>
  <strong>Due date:</strong>
  <%= @goal.due_date %>
</p>

<p>
  <strong>Category:</strong>
  <%= @goal.categories %>
</p>

<p>
  <strong>Schedule:</strong>
  <%= @goal.schedule %>
</p>

<p>
  <strong>Next due:</strong>
  <%= @goal.next_due %>
</p>

<p>
  <strong>Done tasks:</strong>
  <%= @goal.num_done_tasks %>
</p>

<%= link_to 'Edit', edit_goal_path(@goal) %> |
<%= link_to 'Back', goals_path %>
